@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ServerModel
@{
    ViewData["Title"] = "Server Startup";
}

<body>
    <div class="text-center">
        <h1>Server startup can be initiated from here.</h1>
        <div>
            <div>
                <form method="post">
                    Select modset to start server:
                    <select name="modsetName" asp-items="Model.ModsetOptions"></select>
                    <br />
                    @if (Model.ModsetOptions is null)
                    {
                        <span style="color: red">Modsets could not be loaded.</span>
                    }
                    <br />
                    <input type="submit" value="Start server with modset" />
                </form>
            </div>
            <br />
            <br />
            <div>
                <form method="post">
                    Select mission to start server:
                    <select name="missionTitle" asp-items="Model.MissionOptions"></select>
                    <br />
                    @if (Model.MissionOptions is null)
                    {
                        <span style="color: red">Missions could not be loaded.</span>
                    }
                    <br />
                    <input type="submit" value="Start server for mission" />
                </form>
            </div>
        </div>
    </div>
</body>
